<% include ../Metadata/header %>
	<div class="ui main text container segment">
		<div class="ui huge header"> <%= blog.title %> </div>
		<div class="ui centered rounded image segment">
			<img src="<%= blog.Image %>">
 		</div>
 		<div class="content">
 			<span> <%= blog.date.toDateString() %>
 		</div>	
 		<div class="discription">
 			<p> <%- blog.body %> </p>
 		</div>
 		 <!-- <a  href="/blog/<%=blog._id%>/edit" class="ui orange large inverted button">Edit</a> -->
		<form class="ui form" method="post" action="/blog/<%=blog._id%>?_method=PUT">
			<button  <% if(blog.like) {%>
			class="ui blue large button"<%}else{%>
				class="ui blue large inverted button"
				<%}%>>
				<i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like <% if (blog.likes) {%>
					(<%=blog.likes%>)
				<%}%>
				</button>
		</form>
		
	</div>
	<div class="ui main text container segment well" style="margin-top:0;">
		<h2 class="massive header" style="color:#0b61ea;">Your opinion <i class="fa fa-comment-o" aria-hidden="true"></i> </h2>
		<div class="content">
			<div class="discription">
			<% if(blog.comments.length>0){ %> 
					 <% blog.comments.forEach(function(comment){ %>
					 	<div class="ui items">
					 		<div class="field">
							 	<p><strong ><%= comment["content"] %></strong><br> <%= comment["date"].toDateString() %> </p>
							</div>
						</div>	
					 <% }) %>
				<% } %>
			</div>
		</div><br>
		<form class="ui form" action="/blog/<%= blog._id %>/comments" method="POST">
			<div class="field">
				<input type="text" name="comment" placeholder="Write Your opinion...">
			</div>
			<div class="field">
				<input type="submit" value="Submit" class="ui blue inverted button">
			</div>
		</form> 
	</div>
<% include ../Metadata/footer %>